# Dependencies
node_modules
.pnpm-store

# Build
dist
.vercel

# Environment
.env
.env.local
.env.*.local

# Databases
*.db
*.db-journal
*.sqlite
prisma/dev.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode
.idea
.DS_Store
*.tsbuildinfo
